In [31]:
#import libraries

from sklearn.linear_model import LogisticRegression
import pandas as pd

In [55]:
import warnings
warnings.filterwarnings('ignore')

In [56]:
pd.set_option('max_columns',100)
pd.set_option('max_rows',900)

pd.set_option('max_colwidth',200)

df = pd.read_csv('CarPrice_Assignment.csv')
df.head()

,car_ID,symboling,CarName,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,carlength,carwidth,carheight,curbweight,enginetype,cylindernumber,enginesize,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
0,1,3,alfa-romero giulia,gas,std,two,convertible,rwd,front,88.6,168.8,64.1,48.8,2548,dohc,four,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495.0
1,2,3,alfa-romero stelvio,gas,std,two,convertible,rwd,front,88.6,168.8,64.1,48.8,2548,dohc,four,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500.0
2,3,1,alfa-romero Quadrifoglio,gas,std,two,hatchback,rwd,front,94.5,171.2,65.5,52.4,2823,ohcv,six,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500.0
3,4,2,audi 100 ls,gas,std,four,sedan,fwd,front,99.8,176.6,66.2,54.3,2337,ohc,four,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950.0
4,5,2,audi 100ls,gas,std,four,sedan,4wd,front,99.4,176.6,66.4,54.3,2824,ohc,five,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450.0

In [ ]:
#Separate the target (x) and the predictor(y)
#In this case, we will find how to identify car body type from the measurements of wheel base, car length, car widht, 
# and car height

#So the prediction(y) become the labels and the the target(x) become the materials for IDENTIFYING the labels

In [41]:
df.shape

(205, 26)

In [87]:
df_limit = df.iloc[0:100,0:14]
df_limit.head()

,car_ID,symboling,CarName,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,carlength,carwidth,carheight,curbweight
0,1,3,alfa-romero giulia,gas,std,two,convertible,rwd,front,88.6,168.8,64.1,48.8,2548
1,2,3,alfa-romero stelvio,gas,std,two,convertible,rwd,front,88.6,168.8,64.1,48.8,2548
2,3,1,alfa-romero Quadrifoglio,gas,std,two,hatchback,rwd,front,94.5,171.2,65.5,52.4,2823
3,4,2,audi 100 ls,gas,std,four,sedan,fwd,front,99.8,176.6,66.2,54.3,2337
4,5,2,audi 100ls,gas,std,four,sedan,4wd,front,99.4,176.6,66.4,54.3,2824

In [88]:
#Define the predictor(y)

df_y = df_limit['carbody']
df_y.head()

0    convertible
1    convertible
2      hatchback
3          sedan
4          sedan
Name: carbody, dtype: object

In [89]:
#define the target(x)

df_x = df_limit[['wheelbase', 'carlength', 'carwidth', 'carheight']]
df_x.head()

   wheelbase  carlength  carwidth  carheight
0       88.6      168.8      64.1       48.8
1       88.6      168.8      64.1       48.8
2       94.5      171.2      65.5       52.4
3       99.8      176.6      66.2       54.3
4       99.4      176.6      66.4       54.3

In [90]:
#Seperate the train test
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(df_x, df_y, test_size=0.25, random_state=0)

In [91]:
LR = LogisticRegression()
LR.fit(x_train,y_train)

LogisticRegression()

In [92]:
predictions = LR.predict(x_test)

In [93]:
LR.score(x_train,y_train)

0.7466666666666667

In [94]:
LR.coef_

array([[-1.25347716,  0.41625872,  0.70425564,  0.02428386],
       [ 0.53740517, -0.15091275, -0.15620322, -0.30413596],
       [-0.06928834, -0.17829156,  0.81688372, -0.2687591 ],
       [ 0.41540074, -0.06140856, -0.32114353, -0.12109767],
       [ 0.3699596 , -0.02564585, -1.0437926 ,  0.66970887]])

In [ ]:
#Calculating Accuracy

In [95]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test, predictions)

0.68

In [ ]:
#So The Accuracy is 68%, well not bad!

In [85]:
#And this is the result!

y_test.head(10)

18     hatchback
170      hardtop
107        sedan
98       hardtop
177    hatchback
182        sedan
5          sedan
146        wagon
12         sedan
152    hatchback
Name: carbody, dtype: object